<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.moa.ledger.mapper.ElectronicsMapper">
    <select id="selectByLedgerId" resultType="org.moa.ledger.model.Electronics">
        SELECT * FROM electronics WHERE ledger_id = #{ledgerId}
    </select>

    <update id="updateElectronics" parameterType="org.moa.ledger.model.Electronics">
        UPDATE electronics
        SET content = #{content},
        warranty_expiry = #{warrantyExpiry},
        free_repair_expiry = #{freeRepairExpiry},
        last_cleaned_date = #{lastCleanedDate},
        is_deleted = #{isDeleted},
        updated_at = CURRENT_TIMESTAMP
        WHERE ledger_id = #{ledgerId}
    </update>

    <insert id="insertElectronics" parameterType="org.moa.ledger.model.Electronics">
        INSERT INTO electronics(group_id, ledger_id, content, warranty_expiry, free_repair_expiry, last_cleaned_date, is_deleted, created_at, updated_at)
        VALUES(#{groupId}, #{ledgerId}, #{content}, #{warrantyExpiry}, #{freeRepairExpiry}, #{lastCleanedDate}, #{isDeleted}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>
</mapper>
