<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.moa.ledger.mapper.LedgerMapper">
    <select id="selectLedgerByGroupAndCategory" resultType="org.moa.ledger.model.Ledger">
        SELECT * FROM ledger
        WHERE group_id = #{groupId} AND category = #{category}
    </select>
</mapper>
